#bottomText {
    text-align: right;
}

.mainCategories{
    border-style: solid;
    border-width: 1px;
}

h4 {
    display:inline;
}

.panel-heading a{
    color: white;
}

.logo_image {
    height: 150px
}

#main{
    padding-top: 15px;
}

#threads_header_panel_header{
    text-align: right;
}


.bottom_buffer{
    height: 50px;
}

#new_thread_form_header, #new_reply_form_header{
    text-align: center;
}
#new_thread_form, #new_reply_form{
    display: none;
}

#thread_category_header > h3, #show_add_thread_form_div{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

#thread_title{
    text-align: left;
}

#thread_date{
    text-align: center;
}

#thread_reply{
    text-align: right;
}


.media-body{
    padding-left:20px;
}

.reply{
    margin-top:20px;
    hyphens: auto;
}

#close_add_reply_form, #close_add_thread_form{
    float:right;
}

#button_div{
    text-align: right;
}
