#bottomText {
    text-align: right;
}

.mainCategories{
    border-style: solid;
    border-width: 1px;
}

h4 {
    display:inline;
}

.panel-heading a{
    color: white;
}

.logo_image {
    height: 150px
}

#main{
    padding-top: 15px;
}

#threads_header_panel_header{
    text-align: right;
}

/*comma separated list*/
ul.csv { list-style: none; margin: 0; padding: 0; }
ul.csv li { display: inline; }
ul.csv li:after { content: ","; }
ul.csv li:last-child:after { content: ""; }

.bottom_buffer{
    height: 50px;
}

#new_thread_panel_header{
    text-align: center;
}
#new_thread_panel{
    display: none;
}

#thread_category_header{
    text-align: center;
}

#thread_title{
    text-align: left;
}

#thread_date{
    text-align: center;
}

#thread_reply{
    text-align: right;
}


.media-body{
    padding-left:20px;
}

.reply{
    margin-top:20px;
    hyphens: auto;
}
