{% extends 'BoardPageHeader.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block board_content %}
<div class="col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            *UPDATES*
        </div>
        <div class="panel-body">

        </div>
    </div>
</div>
{% for key, value in main_categories.items %}
<div class="col-lg-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>{{ key }}</h4>
        </div>
        <div class="panel-body">
            {% for sub_cat in value %}
                <p><a href="{% url 'threads_category_page' sub_cat.id %}">{{ sub_cat.category_title }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}