{% extends 'BasePage.html' %}
{% load staticfiles %}

{% block threads_page_header %}
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading" id="threads_header_panel_header">
                {% if user.is_anonymous %}
                    <a href="{% url 'home' %}">Dashboard</a> |
                    <a href="{% url 'user_login' %}">Login</a>
                {% else %}
                    <a href="{% url 'home' %}">Dashboard</a> | {{ user }}
                {% endif %}
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-body">
                        <dl class="dl-horizontal">
                            <dt>Hobbies</dt>
                            <dd>
                                {% for sub_cat in main_categories.Hobbies %}
                                    <a href="{% url 'threads_category_page' sub_cat.id %}">{{ sub_cat }}&nbsp</a>
                                {% endfor %}
                            </dd>
                            <dt>Hi-Tech</dt>
                            <dd>
                                {% for sub_cat in main_categories.Hi_Tech %}
                                    <a href="{% url 'threads_category_page' sub_cat.id %}">{{ sub_cat }}&nbsp</a>
                                {% endfor %}
                            </dd>
                            <dt>Talks</dt>
                            <dd>
                                {% for sub_cat in main_categories.Talks %}
                                    <a href="{% url 'threads_category_page' sub_cat.id %}">{{ sub_cat }}&nbsp</a>
                                {% endfor %}
                            </dd>
                        </dl>
                        {% if main_categories.Big_Boss %}
                            <div class="col-lg-6">
                                <dl class="dl-horizontal">
                                    <dt>Big Boss</dt>
                                    <dd>
                                        {% for sub_cat in main_categories.Big_Boss %}
                                            <a href="{% url 'threads_category_page' sub_cat.id %}">{{ sub_cat }}&nbsp</a>
                                        {% endfor %}
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-lg-5">
                                <dl class="dl-horizontal">
                                    <dt>HR</dt>
                                    <dd>
                                        {% for sub_cat in main_categories.HR %}
                                            <a href="{% url 'threads_category_page' sub_cat.id %}">{{ sub_cat }}&nbsp</a>
                                        {% endfor %}
                                    </dd>
                                </dl>
                            </div>
                        {% endif %}
                    </div>
                    <div class="media-right">
                        <img class="media-object logo_image"
                             src="{% static 'site_images/Logo.jpg' %}"
                             alt="Logo.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block threads_page_content %}{% endblock %}
    {% block one_thread_page_content %}{% endblock %}
{% endblock %}
